
$color: green;
$linkcolor:  #dedede;
$btncolor: #4A7D95;

h1 {
	color: $color;
}
ul {
	font-size: 17px;
	a {
		color: $linkcolor;
		&:hover {
			color: red;
		}
	}
}
.btn {
	border-radius: 5px;
	color: $btncolor;
	border: 1px $btncolor solid;
	background-color: transparentize($btncolor, 0.5);
}

.warning {
	@extend .btn;
	color: $color;
	background-color: transparentize($color, 0.9);
}


$width: 960px;
$gutter: 20px;
$columns: 12;
$column_width: $width/$columns;
$prefix: true;
$push: true;

.grid {
	display: inline;
	margin-left: $gutter/2;
	margin-right: $gutter/2;
}

@for $i from 1 through $columns {
	.grid_#{$i} {
	    @extend .grid;
	    width: $i * $column_width - $gutter;
	}
}

